# General
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
.env

# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
*.sqlite3

venv/
.venv/
env/

# Node / Angular
node_modules/
dist/
tmp/
out-tsc/
bazel-out/
.angular/
.sass-cache/
connect.lock
coverage/
npm-debug.log
yarn-error.log

# Editor specific
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/